body{
    background-color: #e5e5f7;
opacity: 100;
background-image: radial-gradient(#690b22 0.5px, antiquewhite 0.5px);
background-size: 10px 10px;
}

.container1{
    width: 90%;
    padding: 80px;
    margin: 100px auto;	 
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.box1{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;

}
.box1 img{
    display: block;
    width:100%;
    border-radius: 5px;
}
.box1:hover{
    transform: scale(1.5);
    z-index: 5;
}
























.middle{
    position: absolute;
    top: 50PX;
    left: 350PX;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .btn{
    font-weight: bolder;
    border-radius: 50px;
    background: none;
    border: 2px solid #690b22;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 5px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
  }
  .btn:hover{
    color: antiquewhite;
  }
  .btn::before{
    border-radius: 50px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #690b22;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  }
  .btn1::before{
    transform: scaleX(0);
  }
  .btn2::before{
    transform: scaleY(0);
  }
  .btn1:hover::before{
    transform: scaleX(1);
  }
  .btn2:hover::before{
    transform: scaleY(1);
  }

.btn3{
  color: antiquewhite;
}









#quote{
    position: absolute;
    top: 190px;
    left: 80px;
    font-family: "montserrat",sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #690b22;

}
#quote:hover{
  color: #dd738e;
    transform: translatex(100px);
    transition: 1s ease-in-out;
}



#quote2{
  position: absolute;
  top: 180px;
  right: 80px;
  font-family: "montserrat",sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #690b22;
  text-align: right;

}
#quote2:hover{
color: #dd738e;
  transform: translatex(-100px);
  transition: 1s ease-in-out;
}