* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: antiquewhite;
opacity: 100;
background-image:  radial-gradient(#690b22 0.5px, transparent 0.5px), radial-gradient(#690b22 0.5px, antiquewhite 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
    
  
    height: 100vh;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    color: rgb(211, 211, 211);
    display: center;
    justify-content: center;
    align-items: center;
   
  }
  
  .container1 {
    position: absolute;
    top: 150px;
    left: 70px;
    width: 350px;
    height: 500px;
    perspective: 400px;
  }
  

  
  .container1:hover > .card1 {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  

  
  .card1 {
    height: 100%;
    width: 100%;
    position: left;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
  .front1,
  .back1 {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front1 {
    background-image: url(./images/a.jpg);
  }
  
  .back1 {
    background-color: #690b22;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }





  .container2 {
    position: absolute;
    top: 150px;
    left: 1020px;
    width: 350px;
    height: 500px;
    perspective: 400px;
  }

  .container2:hover > .card2 {
    cursor: pointer;
    transform: rotateY(-180deg);
  }

  .card2 {
    height: 100%;
    width: 100%;
    position: right;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
  .front2,
  .back2 {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front2 {
    background-image: url(./images/b.jpg);
  }
  
  .back2 {
    background-color: #690b22;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }










  .container3 {
    position: absolute;
    top: 150px;
    left: 545px;
    width: 350px;
    height: 500px;
    perspective: 800px;
  }

  .container3:hover > .card3 {
    cursor: pointer;
    transform: rotateX(180deg);
  }

  .card3 {
    height: 100%;
    width: 100%;
    position: right;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
  .front3,
  .back3 {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front3 {
    background-image: url(./images/c.jpg);
  }
  
  .back3 {
    background-color: #690b22;
    transform: rotateY(180deg) scaleY(-1) scaleX(-1);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

 







  .middle{
    position: absolute;
    top: 50PX;
    left: 350PX;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .btn{
    font-weight: bolder;
    border-radius: 50px;
    background: none;
    border: 2px solid #690b22;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 5px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
  }
  .btn:hover{
    color: antiquewhite;
  }
  .btn::before{
    border-radius: 50px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #690b22;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  }
  .btn1::before{
    transform: scaleX(0);
  }
  .btn3::before{
    transform: scaleY(0);
  }
  .btn1:hover::before{
    transform: scaleX(1);
  }
  .btn3:hover::before{
    transform: scaleY(1);
  }

.btn2{
  color: antiquewhite;
}